* {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}

.dots {
    font-size: 40px;
    letter-spacing: 40px;
    text-align: center;
}

ul.ul-list {
    list-style-type: square;
}

h3>q {
    background-color: rgb(231, 228, 228);
    color: rgb(107, 106, 106);
    padding-top: 2px;
    padding-bottom: 2px;
    font-weight: normal;
}

h3>p {
    color: rgb(107, 106, 106);
    font-weight: normal;
}

.stack *+* {
    margin: 1.5rem;
}

#navbar {
    margin: 1.5rem;
}

.stack>h1 {
    margin: 1.5rem;
}

#navbar>a {
    margin-right: 1.5rem;
}

article:first-child p {
    margin: 1.5rem;
}

fieldset {
    display: flex;
    flex-direction: column;
    width: 50%;
    line-height: 20px;
    margin: 1.5rem;
}

input,
label,
textarea {
    margin-top: 15px;
    margin-left: 15px;
}

button {
    margin: 15px auto;
    background-color: aquamarine;
    padding: 10px;
    width: 100px;
    text-align: center;
}

legend {
    text-transform: uppercase;
}

.parent {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 20px;
    width: 50%;
}

.parent {
    margin: 1.5rem;
}

.parent>* {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 10ch;
    padding: 20px;
}

.first {
    background-color: aquamarine;
}

.second {
    background-color: bisque;
}

.third {
    background-color: rgb(107, 106, 106)
}

.bar-items {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}

.sidebar-section {
    display: flex;
}

.sidebar {
    margin-left: 1.5rem;
    width: 5vw;
    color: rgb(92, 91, 91);
    background-color: rgb(157, 226, 226, 0.5);
    padding: 30px;
}

.sidebar>a {
    text-decoration: none;
    color: rgb(83, 126, 165);
}

.sidebar>a:hover {
    color: rgb(63, 177, 192);
}

.main-content {
    margin-right: 1.5rem;
    width: 70vw;
    color: rgb(92, 91, 91);
    padding: 30px;
    background-color: rgb(180, 120, 120, 0.5)
}

#navbar {
    width: 80vw;
    background-color: rgb(238, 186, 186);
    padding: 20px;
}

#navbar>a {
    color: rgb(83, 126, 165);
    text-decoration: none;
}

#navbar>a:hover {
    color: rgb(63, 177, 192);
}