.dots {
    font-size: 40px;
    letter-spacing: 40px;
    text-align: center;
}

ul.ul-list {
    list-style-type: square;
}

h3>q {
    background-color: rgb(231, 228, 228);
    color: rgb(107, 106, 106);
    padding-top: 2px;
    padding-bottom: 2px;
    font-weight: normal;
}

h3>p {
    color: rgb(107, 106, 106);
    font-weight: normal;
}